body {
  font-family: Arial, sans-serif;
  background: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background: white;
  padding: 25px;
  width: 350px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input, textarea, select, button {
  width: 100%;
  padding: 10px;
  border: 1px solid #999;
  border-radius: 6px;
  box-sizing: border-box;
}

.password-container {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

#passwordRules {
  font-size: 13px;
  padding-left: 18px;
  margin-top: -5px;
  margin-bottom: 0;
}

#passwordRules li {
  margin-bottom: 3px;
}

.valid {
  color: rgb(0, 150, 0);
}

.invalid {
  color: rgb(170, 0, 0);
}

button {
  background: #4CAF50;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 7px;
}

button:hover {
  background: #45a049;
}

.mensaje-error {
  color: red;
  font-size: 12px;
  display: none;
}

.mensaje-exito {
  color: green;
  font-size: 12px;
  display: none;
}
